<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A blog about technology, science, and lifestyle by Md Asif Karim."
    />
    <meta name="keywords" content="blog, technology, lifestyle, science" />
    <meta name="author" content="Md Asif Karim" />

    <title>About</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <p class="name" href="/">The Asif Karim Blog</p>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles">Articles</a>
        </li>
      </ul>
    </nav>

    <div class="container mt-4">
      <div class="text">
        <h1 class="about">About Me</h1>
        <p>HI, I am Md Asif Karim.</p>
        <p>I am Currently studying in Seneca Polytechnic Art & Technology.</p>
        <p>My student number is 116316233</p>
        <p>You can contact me through this mail - makarim5@myseneca.ca</p>
        <p class="intro-2">
          <b>About this blog-</b> In our fast-paced world, technology has woven
          itself into the very fabric of our daily lives, reshaping how we work,
          connect, and experience the world around us. From smart gadgets that
          simplify our routines to innovative apps that enhance our well-being,
          the interplay between technology and lifestyle has never been more
          profound. In this blog, we explore the latest trends, tools, and
          insights that empower you to harness technology for a more enriching
          and balanced life. Join us as we delve into the exciting ways
          technology can elevate your lifestyle, offering practical tips,
          product reviews, and thought-provoking discussions that inspire you to
          embrace the future with confidence.
        </p>
      </div>

      <div class="pic">
        <img class="asif" src="/images/Asif.jpg" alt="My Photo" width="250px" />
      </div>
    </div>

    <footer class="footer">
      <div class="container text-center">
        <p>
          &copy; Md Asif Karim | Student Number: 116316233 | Email:
          makarim5@myseneca.ca
        </p>
      </div>
    </footer>
  </body>
</html>
