body {
    font-family: "Arial", sans-serif;
    background-color: #4c999e;
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
  }
  
  .navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }
  
  .name {
    font-size: 25px;
    padding-top: 25px;
    color: aliceblue;
  }
  
  .navbar a {
    color: aliceblue;
    text-decoration: none;
    text-align: center;
  }
  
  .navbar a:hover {
    color: rgba(240, 248, 255, 0.322);
    text-decoration: underline;
  }
  
  ul {
    list-style-type: square;
  }
  
  ul li {
    padding: 10px;
  }
  
  /* about.html */
  .container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .about {
    padding-bottom: 25px;
    text-decoration: underline;
  }
  
  .pic {
    padding-top: 50px;
  }
  
  .asif {
    border: solid 5px black;
    border-radius: 10px;
    transition: transform 0.2s ease;
    box-shadow: 5px 5px 10px #333;
  }
  .asif:hover {
    transform: scale(1.2);
  }
  
  /* home.html */
  
  .container-1 {
    padding: 20px 100px;
  }
  
  .intro-1 {
    text-align: justify;
  }
  
  .intro-2 {
    width: 750px;
    text-align: justify;
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .card-list li {
    margin: 15px;
    padding: 15px;
    background-color: #b9daff;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);
    width: calc(
      30% - 20px
    ); /* Set card width (adjust for desired layout) */ /* 20px accounts for margins */
    transition: transform 0.2s ease;
  }
  
  .card-list li:hover {
    transform: scale(1.1);
  }
  
  .article-image,
  .category-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* footer */
  .footer {
    background-color: #000;
    color: #fff;
    padding: 2px;
    position: relative;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    margin-top: 40px;
    color: #333;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 600px) {
    .navbar a {
      display: block;
      text-align: left;
    }
  
    .card-list li {
      width: calc(100% - 20px); /* Full width on mobile */
      margin: 10px 0;
    }
  }
  